@import "tailwindcss";
.font-zs{
   font-family: "Zalando Sans", sans-serif;
}
.font-lora{
    font-family: "Lora", serif;
}
*{
   font-family: "Inter", sans-serif;
}

/* Utility to hide scrollbars while keeping scroll functionality */
.hide-scrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
   display: none; /* Safari and Chrome */
}
